h1 {
	
	font-family: 'Montserrat', sans-serif;
}


h1 a {

color: #e53935;

}

h1 a:hover {
	color: #e53935;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#titre {
	padding-top: 20px; 
	padding-bottom: 20px;
	font-size: 50px; 
}

#slogan {
	font-size: 18px; 
}

#slogan h2 a {

	font-family: 'Montserrat', sans-serif;
	color: #e53935;	


}

#message {
	padding-top: 70px; 
	padding-bottom: 70px; 
	font-size: 20px;


}

#archive {
	padding-top: 50px; 
	padding-bottom: 50px; 

}

#footer {
	padding-top: 50px; 
	padding-bottom: 50px; 
	background: #FFB75E;


background: #e53935; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #e53935 , #e35d5b); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #e53935 , #e35d5b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#social {
	font-size: 34px;
}

.button {
	background-color: #e53935;
	color: white;
	font-family: 'Open Sans', sans-serif;
}

.button hover {
color: #353D43; 
	
}

.vertical-spacer {

	text-align: center;
	padding-top: 20px; 
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.vertical-spacer h3 {
	font-family: 'Montserrat', sans-serif;
}

#apropos {

	padding-top: 70px; 
	padding-bottom: 70px; 
	font-size: 24px;
	margin-right: 20px;
	margin-left: 20px; 
	font-size: 14px;
}

#apropos li {

	list-style-type: none;
}




#principe p {
	text-decoration: underline;

}


#footer a {
	color: black; 
}

#footer a:hover {
	color: #353D43; 
}

#archive a {
	color: #e53935;

}

#archive a:hover {
	color: #353D43; 

}









