h1 {
	color: #fed136;
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#titre {
	border: 2px solid green;
	padding-top: 20px; 
	padding-bottom: 20px;
	font-size: 50px; 
}

#slogan {
	border: 2px solid red; 
	font-size: 18px; 
}

#message {
	border: 2px solid black;
	padding-top: 70px; 
	padding-bottom: 70px; 
	font-size: 24px; 

#chimp {

padding-top: 70px; 
	padding-bottom: 70px; 

}

	


}

#archive {
	border: 2px solid pink; 
	padding-top: 50px; 
	padding-bottom: 50px; 

}

#footer {
	border: 2px solid orange;
	padding-top: 50px; 
	padding-bottom: 50px; 
	background-color: #fed136;
}

#social {
	font-size: 34px;
}

.button {
	background-color: #fed136;
	color: white;
	font-family: 'Open Sans', sans-serif;
}